.footer {
	background-color: #eee;
	align-content: space-between;
}

.footer_main {
	margin: 0 auto;
	max-width: 1200px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer_main p {
	text-align: end;
}

.footer_menu {
	display: flex;
}

.footer_menu img {
	margin-left: 20px;
	width: 30px;
	height: 30px;
}

