@media screen and (max-width: 1024px) {
	.skill,
	.product {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.skill div,
	.product div {
		text-align: center;
		margin: 0 auto;
		margin-bottom: 78px;
	}

	.skill h2,
	.product h2 {
		grid-area: 1 / 1 / 2 / 3;
	}

	.contact dt {
		width: 20%;
	}

	.contact dd {
		width: 80%;
	}
}

@media screen and (max-width: 500px) {
	.skill,
	.product {
		display: grid;
		grid-template-columns: 1fr;
	}

	.skill div,
	.product div {
		/* background-color: #eee; */
		text-align: center;
		margin: 0 auto;
		margin-bottom: 78px;
	}

	.skill h2,
	.product h2 {
		grid-area: 1;
	}

	.skill img {
		width: 140px;
	}

	.news dt {
		width: 100%;
		border-bottom: 0;
		padding-bottom: 0;
	}

	.news dd {
		width: 100%;
		padding-top: 0;
	}

	.contact h3 {
		font-size: 1rem;
	}

	.contact dl {
		flex-direction: column;
	}

	.contact dt {
		width: 100%;
		margin-bottom: 5px;
	}

	.contact dd {
		width: 100%;
	}

	.footer_main p {
		font-size: .5rem;
	}

	.footer_menu img {
		margin-left: 10px;
		width: 20px;
		height: 20px;
	}
}
