@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	color: #333;
	background-color: #fff;
	width: 100%;
}

a {
	color: #000;
	text-decoration: none;
}

li {
	list-style: none;
}

h2 {
	font-size: 2rem;
	font-weight: 100;
	text-align: center;
	margin: 100px 0 40px;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: .9rem;
}

h5 {
	font-size: .9rem;
}

/* header */
.header {
	width: 100%;
	position: fixed;
	background-color: #eee;;
}

.header_main {
	display: flex;
	max-width: 1200px;
	height: 90px;
	align-items: center;
	justify-content: space-between ;
	margin: 0 auto;
	padding: 0 4%;
}

#nav_menu {
	display: flex;
	padding: 10px 0;
	align-items: center;
}

#menu_btn {
	display: none;
}

.header_main li {
	font-size: 1.3rem;
	font-weight: 300;
	padding-left: 40px;
}

.header_main li a:hover {
	font-size: 1.2rem;
	font-weight: 500;
}

h1 img {
	width: 256px;
}

.header_menu {
	margin: 0 auto;
	height: 270px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.main_img img {
	width: 100%;
	height: 1024px;
	object-fit: cover;
}

.skill img {
	width: 200px;
	height: 200px;
	margin: 20px auto;
}

.skill div {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 80px;
}

.skill p {
	font-size: .8rem;
	font-weight: 300;
	text-align: justify;
}

.skill,
.product {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.product div {
	width: 300px;
	height: 600px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 78px;
}

.skill h2,
.product h2 {
	grid-area: 1 / 1 / 2 / 4;
}

.product h3,
.product h4 {
	margin-bottom: 10px;
}

.product h5 {
	margin-bottom: 30px;
}

.product .img {
	display: inline;
}

.product p {
	font-size: .8rem;
	font-weight: 300;
	text-align: justify;
	margin-top: 20px;
}

.product img {
	height: 50%;
}

.news {
	margin: 0 auto;
	width: 90%;
}

.news dl {
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #ccc;
	height: 282px;
	overflow-x: scroll;
}

.news dt,
.news dd {
	border-bottom: 1px solid #ccc;
	padding: 16px 0
}

.news dt {
	width: 20%;
}

.news dd {
	width: 80%;
}

.contact {
	width: 90%;
	margin: 0 auto;
}

.contact h2 {
	margin: 0px 0 40px;
}

.contact h3 {
	text-align: center;
}

.contact dl {
	display: flex;
	flex-wrap: wrap;
}

.contact h3,
.contact dt,
.contact dd {
	margin-bottom: 10px;
}

.contact dt {
	width: 15%;
}

.contact dd {
	width: 85%;
}

.contact input,
.contact textarea {
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px;
}

.contact textarea {
	height: 10rem;
}

#contact .btn {
	text-align: center;
}

#contact .btn input {
	background-color: #333;
	color: #fff;
	width: 200px;
	margin-bottom: 100px;
	transition: all .3s;
}

#contact .btn input:hover {
	background-color: #fff;
	color: #333;
}

.footer {
	background-color: #eee;
	align-content: space-between;
}

.footer_main {
	margin: 0 auto;
	max-width: 1200px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer_main p {
	text-align: end;
}

.footer_menu {
	display: flex;
}

.footer_menu img {
	margin-left: 20px;
	width: 30px;
	height: 30px;
}

@media screen and (max-width: 1024px) {
	.header_main li {
		font-size: 1rem;
		padding-left: 20px;
	}

	#menu_btn {
		display: none;
	}

	.skill,
	.product {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.skill div,
	.product div {
		text-align: center;
		margin: 0 auto;
		margin-bottom: 78px;
	}

	.skill h2,
	.product h2 {
		grid-area: 1 / 1 / 2 / 3;
	}

	.contact dt {
		width: 20%;
	}

	.contact dd {
		width: 80%;
	}
}

@media screen and (max-width: 500px) {
	body {
		overflow-x: hidden;
	}

	.header_main {
		flex-direction: column;
		height: 110px;
	}

	.header_main li a {
		margin: 0;
	}

	.header_main li a:hover {
		font-size: 1.1rem;
		font-weight: 500;
	}

	.skill,
	.product {
		display: grid;
		grid-template-columns: 1fr;
	}

	.skill div,
	.product div {
		/* background-color: #eee; */
		text-align: center;
		margin: 0 auto;
		margin-bottom: 78px;
	}

	.skill h2,
	.product h2 {
		grid-area: 1;
	}

	.news dt {
		width: 100%;
		border-bottom: 0;
		padding-bottom: 0;
	}

	.news dd {
		width: 100%;
		padding-top: 0;
	}

	.contact h3 {
		font-size: 1rem;
	}

	.contact dl {
		flex-direction: column;
	}

	.contact dt {
		width: 100%;
		margin-bottom: 5px;
	}

	.contact dd {
		width: 100%;
	}

	.footer_main p {
		font-size: .5rem;
	}

	.footer_menu img {
		margin-left: 10px;
		width: 20px;
		height: 20px;
	}
}
